:root {
  font-family: "Space Mono", monospace;
}

html {
  background-color: hsl(185, 41%, 84%);
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: auto;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: hsl(183, 100%, 15%);
}
#container #logo {
  margin: 36px auto;
}
#container #container-contents {
  display: flex;
  flex-direction: column;
}
#container #wrapper {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px 20px 0 0;
  padding: 24px;
  width: clamp(50%, 375px, 100%);
  margin: auto;
  position: relative;
  box-sizing: border-box;
}
#container #wrapper .section {
  margin-bottom: 1.5rem;
}
#container #wrapper .section .error-message {
  position: absolute;
  color: rgb(237, 109, 109);
  font-size: 0.9rem;
  margin: 0;
  right: 0px;
  top: 3px;
  visibility: hidden;
}
#container #wrapper .heading {
  margin-bottom: 0.6rem;
}
#container #wrapper #bill-section {
  display: flex;
  flex-direction: column;
  position: relative;
}
#container #wrapper #bill-section #first-error {
  bottom: 65px;
  text-align: end;
}
#container #wrapper #bill-section #dollar-icon {
  position: absolute;
  top: 51px;
}
#container #wrapper .number-input {
  background-color: hsl(189, 41%, 97%);
  border: none;
  border-radius: 6px;
  outline: none;
  padding: 10px 20px;
  font-family: "Space Mono", monospace;
  text-align: end;
  color: hsl(183, 100%, 15%);
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
}
#container #wrapper .number-input:valid {
  border: 2px solid hsl(172, 67%, 45%);
}
#container #wrapper .number-input:invalid {
  border: 2px solid rgb(237, 109, 109);
}
#container #wrapper .icon {
  width: 12px;
  position: absolute;
  left: 24px;
}
#container #wrapper #people-section {
  display: flex;
  flex-direction: column;
  position: relative;
}
#container #wrapper #people-section #people-icon {
  position: absolute;
  bottom: 19px;
}
#container #wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#container #wrapper #tip-section #tip-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
  margin-top: 0.6rem;
}
#container #wrapper #tip-section #tip-wrapper .button {
  border-radius: 6px;
  background-color: hsl(183, 100%, 15%);
  border: 2.5px solid hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  padding: 6px 10px;
  cursor: pointer;
  font-size: min(6vw, 1.5rem);
  font-family: "Space Mono", monospace;
  text-align: center;
  transition: 0.1s;
}
#container #wrapper #tip-section #tip-wrapper .button:hover {
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
  border: 2.5px solid hsl(185, 41%, 84%);
}
#container #wrapper #tip-section #tip-wrapper .button:focus {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  border: 2.5px solid hsl(172, 67%, 45%);
}
#container #wrapper #tip-section #tip-wrapper input[type=radio] {
  display: none;
}
#container #wrapper #tip-section #tip-wrapper input[type=radio]:checked + .button {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  border: 2.5px solid hsl(172, 67%, 45%);
}
#container #wrapper #tip-section #tip-wrapper #custom {
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  border: 2.5px solid hsl(189, 41%, 97%);
  font-size: min(1.5rem, 5.8vw);
}
#container #wrapper #tip-section #tip-wrapper #custom:checked + .button {
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  border: 2.5px solid hsl(189, 41%, 97%);
  font-size: min(1.5rem, 5.8vw);
  border: 2.5px solid hsl(172, 67%, 45%);
}
#container #calculator-section {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 10px;
}
#container #calculator-section .result-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#container #calculator-section .result-container .result-wrapper {
  display: flex;
  flex-direction: column;
}
#container #calculator-section .result-container .result-wrapper .calc-heading {
  font-size: 0.8rem;
  font-weight: 500;
}
#container #calculator-section .result-container .result-wrapper .sub-heading {
  color: hsl(184, 14%, 56%);
  font-size: 0.7rem;
}
#container #calculator-section .result-container .result {
  font-size: 2rem;
  color: hsl(172, 67%, 45%);
  font-weight: 600;
}
#container #calculator-section #reset-btn {
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
  font-family: "Space Mono", monospace;
  border: none;
  border-radius: 6px;
  width: 100%;
  padding: 10px 0;
  font-weight: 600;
  cursor: pointer;
  transition: 0.1s;
  margin-top: 1.4rem;
}
#container #calculator-section #reset-btn:hover {
  background-color: hsl(185, 41%, 84%);
}

footer {
  display: none;
}

@media screen and (min-width: 1040px) {
  #container {
    width: 60%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #container #logo {
    margin: 0 auto 36px;
  }
  #container #wrapper {
    display: flex;
    border-radius: 20px;
    width: 100%;
  }
  #container #wrapper #first-container {
    margin: 8px 0;
  }
  #container #wrapper #first-container #dollar-icon {
    top: 47px;
  }
  #container #wrapper #first-container #first-error {
    bottom: 55px;
  }
  #container #wrapper #first-container #tip-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #container #wrapper #first-container #tip-wrapper #custom {
    font-size: min(6vw, 1.5rem);
  }
  #container #wrapper #first-container #people-section {
    margin-bottom: 0;
  }
  #container #wrapper #first-container #people-section #people-icon {
    bottom: 15px;
  }
  #container #wrapper #first-container .number-input {
    padding: 6px 20px;
  }
  #container #wrapper #first-container .icon {
    left: 20px;
  }
  #container #wrapper #first-container, #container #wrapper #second-container {
    width: 50%;
    padding: 0px 17px;
  }
  #container #wrapper #second-container {
    padding-right: 0;
  }
  #container #wrapper #calculator-section {
    height: 100%;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 28px;
  }
  #container #wrapper #calculator-section #calculator-wrapper {
    margin-top: 20px;
  }
  #container #wrapper #calculator-section .result-container {
    margin-bottom: 30px;
    align-items: center;
  }
  #container #wrapper #calculator-section .result-container .result {
    font-size: 2.2rem;
  }
  #container #wrapper #calculator-section #reset-btn {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */